#!/bin/bash

set -x

ovn_bms=$(ovs-vsctl get open . external_ids:ovn-bridge-mappings-back | tr -d '"')

if [ "x$ovn_bms" != "x" ]; then
    # Reset protocols on the provier bridges
    OIFS=$IFS
    IFS=,
    for bm in $ovn_bms; do
       bridge=$(echo $bm | cut -d : -f 2)
       ovs-vsctl set Bridge $bridge protocols=[]
    done
    IFS=$OIFS

    ovs-vsctl set open . external_ids:ovn-bridge-mappings="$ovn_bms" -- remove open . external_ids ovn-bridge-mappings-back
fi

# Don't wait with openflow installation
ovs-vsctl remove open . external_ids ovn-ofctrl-wait-before-clear

# Reset OpenFlow protocol version
ovs-vsctl set Bridge {{ ovn_bridge }} protocols=[]

# Activate ovn-controller by configuring integration bridge, configure bridge mappings and remove br-migration
ovs-vsctl set open . external_ids:ovn-bridge={{ ovn_bridge }} -- --if-exists del-br br-migration

exit 0
